a {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
    text-underline-offset: .1rem;
    transition: all .1s linear;

    &:hover,
    &:focus,
    &:active {
        color: #00f;
        text-underline-offset: .25rem;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
