body {
    margin: 0;
}
.main-header {
    grid-area: header;
    background-color: yellow;
}

.main-navbar {
    grid-area: navbar;
    background-color: grey;
}

.main-content {
    grid-area: main;
    background-color: red;
}

.main-sidebar {
    grid-area: sidebar;
    background-color: lightgreen;
}

.main-footer {
    grid-area: footer;
    background-color: skyblue;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "sidebar"
        "footer";

    @media (min-width: 500px) {
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header header header"
            "navbar navbar navbar"
            "main main sidebar"
            "footer footer footer";
    }
}