.gtv {
  & form {
    background-color: #eee;
    border: 2px solid #ddd;
    padding: var(--space);
    border-radius: var(--border-radius);
  }

  & label {
    color: #333;
    font-family: var(--font-family-sans-serif);
  }

  & input {
    max-width: 100%;

    &:not([type='checkbox'],
      [type='radio'],
      [type='button'],
      [type='submit'],
      [type='reset']) {
      padding: var(--padding-sm);
      border: 2px solid #333;
      color: #333;
      font-size: var(--font-size-md);
      font-family: var(--font-family-monospace);
      border-radius: var(--border-radius);

      &:focus-visible {
        outline: 2px solid #00f;
        outline-offset: -2px;
      }
    }
  }

  & button {
    padding: var(--padding-sm);
    border: 2px solid #333;
    color: #333;
    font-size: var(--font-size-md);
    font-family: var(--font-family-sans-serif);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: var(--border-radius);

    &:focus-visible {
      outline: 2px solid #00f;
      outline-offset: -2px;
    }

    &:active {
      background-color: #fff;
    }
  }
}
